# ignore most things, include a handful of others
/*
/.*
!/src
!/docs
!/package.json
!/package-lock.json
!/README.md
!/LICENSE{,.*}
!/examples
!/scripts
!/system-test
!/tap-snapshots
!/test
!/.editorconfig
!/.eslintignore
!/.eslintrc.json
!/.prettierrc.js
!/.gitignore
!/.github
!/.gitattributes
!/.trampolinerc
!/.kokoro
!/tsconfig*.json
